@font-face {
    font-family: Montserrat;
    src: url(fonts/montserrat/Montserrat-Light.otf);
}

body{
    font-family: Montserrat;
    background: rgb(22,90,80);
    background: linear-gradient(90deg, rgba(22,90,80,1) 0%, rgba(175,177,95,1) 105%);
    background-size:100%;
    
    color:white;
    width:100%;
}

.row{
    width:100%;
}
body h1, body h3,body h4{
    font-weight:bold;
}
.box{
    background-color:#1D262D;
    box-shadow: 2px 2px 8px black;
    margin-top: 4.5%;
    margin-left:5%;
    margin-right:5%;
}
#welcome{
    
    width:90%;
    height: 200px;
}
#login{
    width: 100%;
    min-height: 200px;
}
.navbar ul li a{
    color:white;
    text-decoration: none;
    font-size: 27px;
    
}
hr{
    border-top: 1px solid lightgrey;
}
.navbar ul li a:hover{
    color:lightgrey;
}
.container{
    padding: 2%;
}
#calendar{
    width:70%;
}
#calendarbox{
    height:90%;
}

.inverseBox{
    background-color: rgb(252, 248, 227,0.5);
    
    box-shadow: 0.5px 0.5px 7px black;
    border-radius: 2px;
    color:black;    
    
}
.infoCard{
    width: 90%;
    padding: 5px;
    margin-left:5%;
    margin-top: 5%;
    min-height:100px;
}
.studentList{
    width: 90%;
    padding: 5px;
    margin-left:5%;
    margin-top: 5%;
    min-height:100px;
    font-weight: bold;
    font-size: 18px;
}
.headingBtn{
    cursor: pointer;
}
.subjectbuttons{
    margin:2.5px;
}
.grade{
    font-size:1rem;
    font-weight: normal;
}
.btn-danger:hover{
    cursor:pointer;
}
input{
    text-align: center;
    background-color: 	rgb(212, 212, 212,0.4);
    border-color: 	lightgrey;
    border:0px;
    box-shadow: 0px 0px 0px 0px none;
    border-radius: 30px;
    width: 60%;
    height: 60px;
    font-size: 25px;
    margin-top:20px;
    color:white;
    
}
input::placeholder{
    color:white;
}
#loginbtn{
    margin-top: 20px;
    width: 60%;
    height: 60px;
    border-radius: 30px;
    border:0px;
    font-size: 20px;
    font-weight: bold;
}
#loginbtn:hover{
    
}
#register{
    padding-top: 10px;
    color:white;
    opacity: 0.7;
    text-decoration: underline;
    font-style: italic;

}
#register:hover{
    cursor: pointer;
    opacity: 0.8;
}
#grade{
    align-content: center;
    width: 60%;
    height: 60px;
    border-radius: 30px;
    border:0px;
    font-size: 20px;
    font-weight: bold;
    background-color: 	rgb(212, 212, 212,0.4);
    color: white;
    padding-left: 20%;
    
}
#grade option{
    color:black;

    padding-left: 30%;
}